acme==2.1.0
Adafruit-Blinka==8.31.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-requests==2.0.4
adafruit-circuitpython-rgb-display==3.12.3
adafruit-circuitpython-typing==1.9.6
Adafruit-ILI9341==1.5.0
Adafruit-PlatformDetect==3.59.0
Adafruit-PureIO==1.1.11
certbot==2.1.0
certbot-nginx==2.1.0
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
colorzero==2.0
ConfigArgParse==1.5.3
configobj==5.0.8
cryptography==38.0.4
distro==1.8.0
gpiozero==2.0
idna==3.3
josepy==1.13.0
lgpio==0.2.2.0
parsedatetime==2.6
pigpio==1.78
pillow==10.2.0
pyftdi==0.55.0
PyICU==2.10.2
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyRFC3339==1.1
pyserial==3.5
python-apt==2.6.0
pytz==2022.7.1
pyusb==1.2.1
requests==2.28.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
smbus2==0.4.2
spidev==3.6
ssh-import-id==5.10
sysv-ipc==1.1.0
toml==0.10.2
typing_extensions==4.9.0
urllib3==1.26.12
urwid==2.1.2
websockets==12.0
